
body{
    height: 100vh;
    margin: 0;
   padding: 0;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(images/Hero-bg.png);
  background-size: cover;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: relative;
  z-index: 2;
}

.logo {
  font-size: 34px;
  font-weight: bold;
  color: #3b82f6; 
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #3b82f6;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: tomato; 
}
.content {
  position: relative;
  z-index: 2;
  text-align: center;
  top: 30%;
}

.title {
  font-size: 56px;
  font-weight: bold;
  color: #252432; 
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#first-section{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 328px;
    margin: auto;
}
.hero-1{
    margin-left: 10%;
    margin-top: 40px;
}
h2{
    font-size: 40px;
    color:#252432;
    font-weight: bold;  
}
p{
    font-size: 14px;
    color:black; 
}
.hero-2{
    margin-left: 10%;
    margin-top: 40px;
}
.pic{
 border-radius: 48px;
 width: 320px;
 height: auto;
}

#second-section{
    width: 1140px;
    height: 306px;
    opacity: 100%;
    border-radius: 24px;
    background-color:tomato;
    position: center;
    margin: 12%;
  

}
#second-section .hero-4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* h2{
    text-align: center;
    justify-content: center;
    margin-top:40px;
} */
 .hero-3 h2{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color:#fff;

 }
.main{
    width: 856px;
    height: 121px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 50px;
    font-weight: bold;
}
.blog{
 font-weight: bold;
    color:blue;
}

.tag{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: black;
}


 #third-section {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center;
      gap: 20px; 
      transition: 0.5 ease-in;
    }
    .review-card {
      width: 366px;
      padding: 20px;
      border: 1px solid #fff;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      background: blanchedalmond;
      display: flex;
      box-shadow: 3px 3px 3px 3px solid;
      flex-direction: column;
  
    }
    #third-section :hover{
      background-color: brown;
      color:#fff;
    }

    .stars {
      color: gold;
      font-size: 20px;
      margin-bottom: 8px;
    }
    .model h3 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .quote {
      font-size: 14px;
      color: #333;
      margin-bottom: 20px;
    }
    .review {
      display: flex;
      align-items: center;
    }
    .review img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .review-info {
      font-weight: bold;
    }